<form id="contenedor">
    <div class="mb-3">
      <input type="text" placeholder="Ingrese usuario" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="user">
      <div id="emailHelp" class="form-text"></div>
    </div>

    <div class="mb-3">
      <input type="password" placeholder="Ingrese contraseña" class="form-control" id="exampleInputPassword1" [(ngModel)]="pass">
    </div>
    <button type="submit" class="btn btn-primary" (click)="comparar()">Ingresar</button>

  <div *ngIf="correcto==1" class="alert alert-success" role="alert">
    Correcto
  </div>
  <div *ngIf="correcto==0" class="alert alert-danger" role="alert">
    Incorrecto
  </div>
  </form>