
<!--
<h1>Hola mundo</h1>
<h2>Hola mundo</h2>
<h3>Hola mundo</h3>
<h4>Hola mundo</h4>
<h5>Hola mundo</h5>-->

<!--Interpolacion-->
<!--
<h3>{{nombre}}</h3>
<p>
{{numero}}
{{booleano}}
{{cualquiera}}
</p>

<h2>El resultado de la suma es: {{sumar(3,2)}}</h2>
-->
<!--property binding-->
<!--<input [type]="nuevotipo" name="" id="" [value]="nuevovalor">
-->
<!--event binding-->
<!--<button (click)="mostrartitulo()">Dame clic</button>
<h1>{{titulo1}}</h1>
-->
<!--directivas-->
<!--<h2 *ngIf="persona1sexo==='m'">{{persona1}} es de genero masculino</h2>
<h2 *ngIf="persona1sexo!=='m'">{{persona1}} es de genero femenino</h2>

<button (click)="llenarlista()" class="btn btn-primary">llenar lista</button>

<table>
  <tr>
    <th>Numero</th>
    <th>Numero +1</th>
  </tr>
  <tr *ngFor="let numero of lista">
    <td>{{numero}}</td>
    <td>{{numero+1}}</td>
  </tr>
</table>
-->

<app-navbar></app-navbar>
<app-login></app-login>